<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $(function () {
            console.log('document ready')
            let data = {"sender": "test4@gmail.com", "receiver": "test1@gmail.com", "message": "ohno"}
            let socket = new SockJS('/ws');
            let stomp = Stomp.over(socket);
            stomp.connect({}, frame => {
                console.log('Connected : ' + frame)
                console.log(frame.headers)
                console.log(frame.headers['user-name'])
                stomp.subscribe('/queue/'+frame.headers['user-name'], response => {
                    console.log(response)
                    console.log(JSON.parse(response.body))
                })
                stomp.send("/pub/hello", null, JSON.stringify(data));
            })
        })
    </script>
</head>
<body>

</body>
</html>